NEXT_PUBLIC_SEOUL_RPC=https://seoul.worldland.foundation
NEXT_PUBLIC_GWANGJU_RPC=https://gwangju.worldland.foundation
NEXT_PUBLIC_SEOUL_EXPLORER=https://scan.worldland.foundation
NEXT_PUBLIC_WORLDBET_ADDRESS=
